<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OeuilDeSauron - Hanagroup</title>

  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="stylesheet" href="/styles.f959329c183a33b8.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="/runtime.ea45c9cd59d802d6.js" type="module"></script><script src="/polyfills.d59694b36a22204f.js" type="module"></script><script src="/main.305d27b1c3c45b04.js" type="module"></script></body>
</html>
